<!DOCTYPE html>
<html lang="es">

{{> head}}

{{#if (eq tipoUsuario 'admin')}}
{{> headerAdmin}} 
{{else}}
{{> headerUser}}
{{/if}}
<body >
  
  <div class="main-content">
    <h3><i class="fas fa-paw"></i> Animales</h3>
    <!-- Sección de animales -->
    <section class="libros-section">
        {{#if animales.length}}
        <!-- Si hay animales, mostrar información de ellos -->
        {{#each animales}}
        <div class="card p-4 mb-3 shadow-sm">
            <h5 class="card-title"><i class="fas fa-paw"></i> Animal: {{nombre}}</h5>
            <!-- Accediendo a las propiedades de idUsuario y idTipoAnimal -->
            <p><strong>Nombre dueño:</strong> {{idUsuario.nombre}}</p>
            <p><strong>Mail:</strong> {{idUsuario.email}}</p>
            <p><strong>Tipo Animal:</strong> {{idTipoAnimal.tipo}}</p>
        </div>
        {{/each}}
        {{else}}
        <!-- Si no hay animales, mostrar los usuarios -->
        {{#each usuarios}}
        <div class="card p-4 mb-3 shadow-sm">
            <h5 class="card-title"><i class="fas fa-paw"></i> Usuario: {{nombre}}</h5>
            <p><strong>Mail:</strong> {{email}}</p>
            <!-- Aquí podrías agregar animales si están relacionados con el usuario -->
            {{#each animales}}
            <h5 class="card-title"><i class="fas fa-paw"></i> Animal: {{nombre}}</h5>
            <p><strong>Tipo Animal:</strong> {{idTipoAnimal.tipo}}</p>
            {{/each}}
        </div>
        {{/each}}
        {{/if}}

        <!-- Si no hay ni animales ni usuarios -->
        {{#unless animales.length}}
        {{#unless usuarios.length}}
        <p>No se encontraron resultados.</p>
        {{/unless}}
        {{/unless}}

    </section>
  </div>
  
   
{{> footer}}
</body>

</html>    
<script src="/js/busquedaAnimal.js"></script>
<script src="/js/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


